.layout {
  display: grid;
  grid-template-areas:
    'header header'
    'side-panel content-header'
    'side-panel content'
    'footer footer';
  grid-template-columns: auto 3fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100svh;
}

.side-panel {
  grid-area: side-panel;
  overflow-y: auto;
}

.layout > * {
  padding-left: calc(var(--pico-spacing) * 3);
  padding-right: calc(var(--pico-spacing) * 3);
}

.layout header {
  grid-area: header;
}

.layout main {
  grid-area: content;
  overflow-y: auto;
}

.layout footer {
  grid-area: footer;
}
